<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE 3 basic</title>
    <style>
        [v-cloak]{
            display: none;
        }
      .person {
        width: 100px;
        height: 100px;
      }
      .one {
        background-color: aqua;
      }
      .two {
        background-color: crimson;
      }
      .three {
        background-color: darkorange;
      }
      .box{
          width: 50px;  
        height: 50px;
        background-color:lightgreen ;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      {{gretting}}
      <input type="text" v-model="gretting" />
      <hr />
      <!-- v-if測試 -->
      <div v-if="isVisible" class="person one"></div>
      <div v-else-if="isVisible2" class="person two"></div>
      <div v-else class="person three"></div>
      <hr/>
      <!-- v-on event -->
      <button @click="toggleBox=!toggleBox" type="button">show box</button>
      <!-- <button v-on:click="toggleBox=!toggleBox" type="button">show box</button> -->
      <div v-if="toggleBox" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            gretting: "hello vue!",
            isVisible: true,
            isVisible2: false,
            toggleBox:false
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
